body{
    background-color: red;
}

p{
    text-align: justify;
    text-indent: 2rem;
}

.card{
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
/* #carouselPictures{
    height: 100vh;
} */
nav{
    background-color: rgba(54, 69, 79, .75);
}