p{
    text-align: justify;
    text-indent: 2rem;
}

.card{
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
#carouselPictures{
    height: 80vh;
}
nav{
    background-color: rgba(54, 69, 79, 0);
    position: absolute;
}
/* .carousel-inner img{
    position: relative;
    top: 50%;
    transform: translateY(50%);
} */

.carousel-inner{
    height: 100%;
}
.carousel-item{
    height: 100%;
}
.carousel{
    height: 75vh;
}
#sec1{
    height: 100vh;
    -webkit-transition:0.5s ease;
   -moz-transition:0.5s ease;
   -o-transition:0.5s ease;
   transition:0.5s ease;
}
