:root{
    --piros: #d72631;
    --vilagospiros: #ff5b65;
    --vilagoskek: #a2d5c6;
    --sotetkek: #077b8a;
    --lila: #5c3c92;
    --sotetpiros: rgb(90, 12, 12);
    --kozeppiros: #9b000a;
}
.webshopgomb{
    background-color: var(--piros);
    border: var(--piros);
    color: white;
}
.webshopgomb:hover, .webshop:active{
    background-color: var(--vilagospiros);
}
.webshopreset{
    background-color: var(--piros);
    border: var(--vilagospiros);
    color: white;
}
.webshopreset:hover, .webshop:active{
    background-color: var(--sotetpiros);
    color: white;
}
body{
    background-color: var(--sotetpiros);
}
.card{
    background-color: var(--kozeppiros);
}
label{
    color: black;
}
h1, td, p, h5, h2, span, h3, h4{
    color: whitesmoke;
}
nav{
    background-color: rgba(54, 69, 79, .75);
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
table tr:first-child th:first-child{
    border-top-left-radius: 10px;
}
table tr:first-child th:last-child{
    border-top-right-radius: 10px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
table tr:last-of-type td{
    border-bottom: 0px;
}
#rateszam{
    color: whitesmoke;
    background-color: var(--kozeppiros);
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
#range{
    width: 90%;
    vertical-align: middle;
    -webkit-appearance: none;
    border-radius: 5px;
    height: 7.5px;
    background: var(--kozeppiros);
}
.slider::-webkit-slider-thumb{
    background-color: var(--vilagospiros);
    -webkit-appearance: none;
}